@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tablemc {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
}

.tablemc > thead > tr,
.tablemc > tbody > tr,
.tablemc > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tablemc > thead > tr > th,
.tablemc > tbody > tr > th,
.tablemc > tfoot > tr > th,
.tablemc > thead > tr > td,
.tablemc > tbody > tr > td,
.tablemc > tfoot > tr > td {
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tablemc > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tablemc > caption + thead > tr:first-child > th,
.tablemc > colgroup + thead > tr:first-child > th,
.tablemc > thead:first-child > tr:first-child > th,
.tablemc > caption + thead > tr:first-child > td,
.tablemc > colgroup + thead > tr:first-child > td,
.tablemc > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.tablemc > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.tablemc .tablemc {
  background: #fff;
}

.tablemc .no-border {
  border: 0;
}

.tablemc-condensed > thead > tr > th,
.tablemc-condensed > tbody > tr > th,
.tablemc-condensed > tfoot > tr > th,
.tablemc-condensed > thead > tr > td,
.tablemc-condensed > tbody > tr > td,
.tablemc-condensed > tfoot > tr > td {
  padding: 0.8rem;
}

.tablemc-bordered {
  border: 0;
}

.tablemc-bordered > thead > tr > th,
.tablemc-bordered > tbody > tr > th,
.tablemc-bordered > tfoot > tr > th,
.tablemc-bordered > thead > tr > td,
.tablemc-bordered > tbody > tr > td,
.tablemc-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
}

.tablemc-bordered > thead > tr > th,
.tablemc-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.tablemc-striped > tbody > tr:nth-child(odd) > td,
.tablemc-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5;
}

.tablemc-hover > tbody > tr:hover > td,
.tablemc-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
  .tablemc-responsive-vertical > .tablemc {
    margin-bottom: 0;
    background-color: transparent;
  }

  .tablemc-responsive-vertical > .tablemc > thead,
.tablemc-responsive-vertical > .tablemc > tfoot {
    display: none;
  }

  .tablemc-responsive-vertical > .tablemc > tbody {
    display: block;
  }

  .tablemc-responsive-vertical > .tablemc > tbody > tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.6rem;
  }

  .tablemc-responsive-vertical > .tablemc > tbody > tr > td {
    background-color: #fff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }

  .tablemc-responsive-vertical > .tablemc > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
  }

  .tablemc-responsive-vertical > .tablemc-bordered {
    border: 0;
  }

  .tablemc-responsive-vertical > .tablemc-bordered > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }

  .tablemc-responsive-vertical > .tablemc-bordered > tbody > tr > td:last-child {
    border-bottom: 0;
  }

  .tablemc-responsive-vertical > .tablemc-bordered > tbody > tr > td,
.tablemc-responsive-vertical > .tablemc-bordered > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }

  .tablemc-responsive-vertical > .tablemc-bordered > tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5;
  }

  .tablemc-responsive-vertical > .tablemc-hover > tbody > tr:hover > td,
.tablemc-responsive-vertical > .tablemc-hover > tbody > tr:hover {
    background-color: #fff;
  }

  .tablemc-responsive-vertical > .tablemc-hover > tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
.tablemc-striped.tablemc-mc-red > tbody > tr:nth-child(odd) > td,
.tablemc-striped.tablemc-mc-red > tbody > tr:nth-child(odd) > th {
  background-color: #eee;
  font-size: 1rem;
  font-weight: bold;
}

.tablemc-hover.tablemc-mc-red > tbody > tr:hover > td,
.tablemc-hover.tablemc-mc-red > tbody > tr:hover > th {
  background-color: #eee;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  background-color: #050505;
}

.inputError {
  border: 1px solid red !important;
}

.avatarNav {
  float: left;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.form-group-custom {
  margin-bottom: 12px;
}
.form-group-custom .errors {
  font-size: 0.8rem;
  color: red;
  width: 100%;
}
.form-group-custom .input-reg {
  width: 100%;
}
.form-group-custom .input-group-text {
  border-radius: 0;
  width: 150px;
}

.custom-nav {
  transition: all 300ms;
}
.custom-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
  transition: all 300ms;
  height: 100%;
}
.custom-nav .nav-link:hover {
  color: #ffffff;
  background-color: #e92c2c;
}
.custom-nav .active {
  color: #ffffff;
  background-color: #e92c2c;
}

.landing {
  min-height: 100vh;
  background-color: #dbdbdb;
  position: relative;
  padding: 0;
  background: url(../images/landing3.jpg);
}
.landing-divide2 {
  position: absolute;
  background-color: #08fbff;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 9% 100%, 0 100%);
}
.landing-divide {
  z-index: 2;
  position: absolute;
  background-color: #050505;
  width: 100%;
  height: 100vh;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}
.landing-content {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.landing-content-title {
  color: red;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
}
.landing-content .custom-btn {
  z-index: 2;
  border: 2px solid #eb9627;
  color: #eb9627;
  font-weight: bold;
}
.landing-content .custom-btn:hover {
  color: #fff;
  background-color: #eb9627;
  border: 2px solid #eb9627;
}

.registerLink {
  border: 2px solid red;
  color: red !important;
}
.registerLink:hover {
  color: #fff !important;
}

.ui-timepicker-container {
  z-index: 1151 !important;
}

.sec-class {
  min-height: 100vh;
  background: linear-gradient(rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url(../images/class2.png);
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
}
.sec-class-title {
  margin-top: 4rem;
}
.sec-class-show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sec-class-show .class-card {
  width: 350px;
  min-height: 370px;
  position: relative;
  margin: 1rem 0.5rem;
}
.sec-class-show .class-card .front, .sec-class-show .class-card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 500ms linear;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.sec-class-show .class-card .front {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  background: linear-gradient(to right bottom, #397acf, #2523a5);
  transform: perspective(600px) rotateX(180deg);
  display: flex;
  flex-direction: column;
}
.sec-class-show .class-card .front-title {
  text-transform: uppercase;
  flex: 1;
  color: #fff;
  word-wrap: break-word;
  font-size: 1.7rem;
}
.sec-class-show .class-card .front-description {
  flex: 1;
  color: #fff;
  word-wrap: break-word;
}
.sec-class-show .class-card .front-slots {
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}
.sec-class-show .class-card .front-bottom {
  flex: 0.2;
  text-align: center;
}
.sec-class-show .class-card .front-datetime {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.sec-class-show .class-card .front-datetime-date {
  flex: 1;
  color: #fff;
}
.sec-class-show .class-card .front-datetime-time {
  flex: 1;
  color: #fff;
}
.sec-class-show .class-card .back {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(600px) rotateX(0deg);
}
.sec-class-show .class-card .back-title {
  color: #fff;
  letter-spacing: 8px;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}
.sec-class-show .class-card:hover .front {
  transform: perspective(600px) rotateX(0deg);
}
.sec-class-show .class-card:hover .back {
  transform: perspective(600px) rotateX(-180deg);
}

.btn-classes-inter {
  border-radius: 0;
  text-transform: uppercase;
  color: #08fbff;
  border: 1px solid #08fbff;
}
.btn-classes-inter:hover {
  background-color: #08fbff;
  color: #fff;
}

.fa-times {
  color: #fff;
}

#registerModal .modal-content,
#loginModal .modal-content,
#editClassModal .modal-content,
#addClassesModal .modal-content,
#enrollClassModal .modal-content,
#profileModal .modal-content,
#usersModal .modal-content,
#globalQuestion .modal-content {
  border-radius: 0;
  border: none;
}
#registerModal .modal-content .modal-header,
#loginModal .modal-content .modal-header,
#editClassModal .modal-content .modal-header,
#addClassesModal .modal-content .modal-header,
#enrollClassModal .modal-content .modal-header,
#profileModal .modal-content .modal-header,
#usersModal .modal-content .modal-header,
#globalQuestion .modal-content .modal-header {
  border-radius: 0;
  background-color: #397acf;
  color: #fff;
}
#registerModal .modal-content .bodyMessageOnly,
#loginModal .modal-content .bodyMessageOnly,
#editClassModal .modal-content .bodyMessageOnly,
#addClassesModal .modal-content .bodyMessageOnly,
#enrollClassModal .modal-content .bodyMessageOnly,
#profileModal .modal-content .bodyMessageOnly,
#usersModal .modal-content .bodyMessageOnly,
#globalQuestion .modal-content .bodyMessageOnly {
  display: flex;
  justify-content: center;
}
#registerModal .modal-content .bodyMessageOnly h3,
#loginModal .modal-content .bodyMessageOnly h3,
#editClassModal .modal-content .bodyMessageOnly h3,
#addClassesModal .modal-content .bodyMessageOnly h3,
#enrollClassModal .modal-content .bodyMessageOnly h3,
#profileModal .modal-content .bodyMessageOnly h3,
#usersModal .modal-content .bodyMessageOnly h3,
#globalQuestion .modal-content .bodyMessageOnly h3 {
  text-align: center;
  font-size: 1.5rem;
}
#registerModal .modal-content .modal-footer,
#loginModal .modal-content .modal-footer,
#editClassModal .modal-content .modal-footer,
#addClassesModal .modal-content .modal-footer,
#enrollClassModal .modal-content .modal-footer,
#profileModal .modal-content .modal-footer,
#usersModal .modal-content .modal-footer,
#globalQuestion .modal-content .modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#registerModal .modal-content .modal-footer .btn-cancel,
#loginModal .modal-content .modal-footer .btn-cancel,
#editClassModal .modal-content .modal-footer .btn-cancel,
#addClassesModal .modal-content .modal-footer .btn-cancel,
#enrollClassModal .modal-content .modal-footer .btn-cancel,
#profileModal .modal-content .modal-footer .btn-cancel,
#usersModal .modal-content .modal-footer .btn-cancel,
#globalQuestion .modal-content .modal-footer .btn-cancel {
  background-color: transparent;
  color: #397acf;
  border: 1px solid #397acf;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 300ms;
}
#registerModal .modal-content .modal-footer .btn-cancel:hover,
#loginModal .modal-content .modal-footer .btn-cancel:hover,
#editClassModal .modal-content .modal-footer .btn-cancel:hover,
#addClassesModal .modal-content .modal-footer .btn-cancel:hover,
#enrollClassModal .modal-content .modal-footer .btn-cancel:hover,
#profileModal .modal-content .modal-footer .btn-cancel:hover,
#usersModal .modal-content .modal-footer .btn-cancel:hover,
#globalQuestion .modal-content .modal-footer .btn-cancel:hover {
  background-color: #7d807d;
  border: 1px solid #7d807d;
  color: #fff;
}
#registerModal .modal-content .modal-footer .btn-submit,
#loginModal .modal-content .modal-footer .btn-submit,
#editClassModal .modal-content .modal-footer .btn-submit,
#addClassesModal .modal-content .modal-footer .btn-submit,
#enrollClassModal .modal-content .modal-footer .btn-submit,
#profileModal .modal-content .modal-footer .btn-submit,
#usersModal .modal-content .modal-footer .btn-submit,
#globalQuestion .modal-content .modal-footer .btn-submit {
  background-color: #397acf;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 300ms;
}
#registerModal .modal-content .modal-footer .btn-submit:hover,
#loginModal .modal-content .modal-footer .btn-submit:hover,
#editClassModal .modal-content .modal-footer .btn-submit:hover,
#addClassesModal .modal-content .modal-footer .btn-submit:hover,
#enrollClassModal .modal-content .modal-footer .btn-submit:hover,
#profileModal .modal-content .modal-footer .btn-submit:hover,
#usersModal .modal-content .modal-footer .btn-submit:hover,
#globalQuestion .modal-content .modal-footer .btn-submit:hover {
  background-color: #379544;
}

#usersModal .modal-dialog {
  position: relative;
  display: table !important;
  /* This is important */
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  min-width: 70%;
}
@media only screen and (max-width: 1024px) {
  #usersModal .modal-dialog {
    min-width: 95%;
  }
}
#deleteClassModal .modal-content,
#deleteTestiQ .modal-content,
#deleteUserModal .modal-content {
  border-radius: 0;
  border: none;
}
#deleteClassModal .modal-content .modal-header,
#deleteTestiQ .modal-content .modal-header,
#deleteUserModal .modal-content .modal-header {
  border-radius: 0;
  background-color: #c84f31;
  color: #fff;
}
#deleteClassModal .modal-content .modal-body,
#deleteTestiQ .modal-content .modal-body,
#deleteUserModal .modal-content .modal-body {
  display: flex;
  justify-content: center;
}
#deleteClassModal .modal-content .modal-body h3,
#deleteTestiQ .modal-content .modal-body h3,
#deleteUserModal .modal-content .modal-body h3 {
  text-align: center;
  font-size: 1.5rem;
}
#deleteClassModal .modal-content .modal-footer,
#deleteTestiQ .modal-content .modal-footer,
#deleteUserModal .modal-content .modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#deleteClassModal .modal-content .modal-footer .btn-cancel,
#deleteTestiQ .modal-content .modal-footer .btn-cancel,
#deleteUserModal .modal-content .modal-footer .btn-cancel {
  background-color: transparent;
  color: #c84f31;
  border: 1px solid #c84f31;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 300ms;
}
#deleteClassModal .modal-content .modal-footer .btn-cancel:hover,
#deleteTestiQ .modal-content .modal-footer .btn-cancel:hover,
#deleteUserModal .modal-content .modal-footer .btn-cancel:hover {
  background-color: #7d807d;
  border: 1px solid #7d807d;
  color: #fff;
}
#deleteClassModal .modal-content .modal-footer .btn-submit,
#deleteTestiQ .modal-content .modal-footer .btn-submit,
#deleteUserModal .modal-content .modal-footer .btn-submit {
  background-color: #c84f31;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 300ms;
}
#deleteClassModal .modal-content .modal-footer .btn-submit:hover,
#deleteTestiQ .modal-content .modal-footer .btn-submit:hover,
#deleteUserModal .modal-content .modal-footer .btn-submit:hover {
  background-color: #ff0000;
}

#messageModal .modal-content {
  overflow: hidden;
  border-radius: 0;
}
#messageModal .modal-content .modal-header {
  border-radius: 0;
  background-color: #379544;
  color: #fff;
}
#messageModal .modal-content .modal-body {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  text-transform: uppercase;
}
#messageModal .modal-content .modal-footer {
  border-radius: 0;
  border: none;
}
#messageModal .modal-content .modal-footer .btn-submit {
  border: 1px solid #379544;
  border-radius: 0;
  color: #379544;
}
#messageModal .modal-content .modal-footer .btn-submit:hover {
  background-color: #379544;
  color: #fff;
}

#messageErrorModal .modal-content {
  overflow: hidden;
  border-radius: 0;
}
#messageErrorModal .modal-content .modal-header {
  border-radius: 0;
  background-color: #c84f31;
  color: #fff;
}
#messageErrorModal .modal-content .modal-body {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  text-transform: uppercase;
}
#messageErrorModal .modal-content .modal-footer {
  border-radius: 0;
  border: none;
}
#messageErrorModal .modal-content .modal-footer .btn-submit {
  border: 1px solid #c84f31;
  border-radius: 0;
  color: #c84f31;
}
#messageErrorModal .modal-content .modal-footer .btn-submit:hover {
  background-color: #c84f31;
  color: #fff;
}

.owl-stage-outer {
  overflow: visible;
}

.owl-dots {
  display: none;
}

.owl-nav span {
  color: #08fbff;
  font-size: 2rem;
  padding: 1.5rem;
  cursor: pointer;
}

.testimonials {
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../images/testi2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.testimonials-title {
  margin-top: 4rem;
}
.testimonials .wrapper {
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
}
.testimonials .wrapper .item {
  background: #eee;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 380px;
  position: relative;
}
.testimonials .wrapper .item .deleteTesti {
  background-color: red;
  border-radius: 100%;
  margin-left: 90%;
  margin-top: -1rem;
  padding: 2px 8px;
  font-size: 15px;
}
.testimonials .wrapper .item .deleteTesti i {
  pointer-events: none;
}
.testimonials .wrapper .item img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: -3rem;
  background-color: #eee;
  padding: 0.4rem;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonials .wrapper .item .qouteCenter {
  margin-top: 3rem;
}
.testimonials .wrapper .item .qouteCenter .openQ::after {
  content: "“  ”";
  font-size: 3rem;
  color: #397acf;
}
.testimonials .wrapper .item blockquote {
  color: #050505;
  font-size: 1.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.testimonials .wrapper .item blockquote p {
  width: 100%;
  word-wrap: break-word;
  position: relative;
  line-height: 2rem;
  text-align: center;
}
.testimonials .wrapper .item blockquote .nameTesti {
  font-style: italic;
}
.testimonials .wrapper .testimonials-input {
  position: relative;
  left: 50%;
  margin-top: 2rem;
  width: 50%;
  height: 5rem;
  border: 1px solid #397acf;
  transform: translateX(-50%);
  background-color: transparent;
}

.testimonialSubBtn {
  border: 1px solid #397acf;
  color: #397acf;
  border-radius: 0;
}
.testimonialSubBtn:hover {
  background-color: #397acf;
  color: #fff;
}

#testiErr {
  color: red;
}

.page-footer {
  background-color: #050505;
}
.page-footer .footer-copyright {
  color: #fff;
}
.page-footer .footer-copyright a {
  text-decoration: none;
  color: #fff;
}

.profileImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileImg .profileHolder {
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
}
.profileImg .profileHolder img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #eee;
  padding: 0.5rem;
  position: absolute;
  top: 0;
}
.profileImg .profileHolder .profileHoverUpload {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 100%;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.profileImg .profileHolder .profileHoverUpload i {
  color: #fff;
  opacity: 0;
  transition: all 0.3s;
}
.profileImg .profileHolder .profileHoverUpload:hover {
  background-color: rgba(5, 5, 5, 0.555);
}
.profileImg .profileHolder .profileHoverUpload:hover i {
  opacity: 1;
}

.makeAdmin,
.removeAdmin,
.removeUser {
  border-radius: 0;
}

.makeAdmin {
  border: 1px solid #df8b1e;
  transition: all 0.3s;
}
.makeAdmin i {
  color: #df8b1e;
  transition: all 0.3s;
}
.makeAdmin:hover {
  background-color: #df8b1e;
}
.makeAdmin:hover i {
  color: #fff;
}

.removeAdmin {
  border: 1px solid #0b0b0c;
  transition: all 0.3s;
}
.removeAdmin i {
  color: #0b0b0c;
  transition: all 0.3s;
  pointer-events: none;
}
.removeAdmin:hover {
  background-color: #0b0b0c;
}
.removeAdmin:hover i {
  color: #fff;
}

.removeUser {
  border: 1px solid #ff4800;
  transition: all 0.3s;
  width: 60px;
}
.removeUser i {
  color: #ff4800;
  transition: all 0.3s;
  pointer-events: none;
}
.removeUser:hover {
  background-color: red;
  border: 1px solid red;
}
.removeUser:hover i {
  color: #fff;
}

#messageModal {
  z-index: 9999;
}

.disableDeleteBtn {
  opacity: 0;
  pointer-events: none;
  cursor: none;
}

/*# sourceMappingURL=style.css.map */
