.tablemc{
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
}
.tablemc > thead > tr,
.tablemc > tbody > tr,
.tablemc > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tablemc > thead > tr > th,
.tablemc > tbody > tr > th,
.tablemc > tfoot > tr > th,
.tablemc > thead > tr > td,
.tablemc > tbody > tr > td,
.tablemc > tfoot > tr > td {
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tablemc > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
.tablemc > caption + thead > tr:first-child > th,
.tablemc > colgroup + thead > tr:first-child > th,
.tablemc > thead:first-child > tr:first-child > th,
.tablemc > caption + thead > tr:first-child > td,
.tablemc > colgroup + thead > tr:first-child > td,
.tablemc > thead:first-child > tr:first-child > td {
  border-top: 0;
  
}
.tablemc > tbody + tbody {
  border-top: 1px solid rgba(0,0,0,0.12);
}
.tablemc .tablemc{
  background: #fff;
}
.tablemc .no-border{
  border: 0;
}
.tablemc-condensed > thead > tr > th,
.tablemc-condensed > tbody > tr > th,
.tablemc-condensed > tfoot > tr > th,
.tablemc-condensed > thead > tr > td,
.tablemc-condensed > tbody > tr > td,
.tablemc-condensed > tfoot > tr > td {
  padding: 0.8rem;
}
.tablemc-bordered{
  border: 0;
}
.tablemc-bordered > thead > tr > th,
.tablemc-bordered > tbody > tr > th,
.tablemc-bordered > tfoot > tr > th,
.tablemc-bordered > thead > tr > td,
.tablemc-bordered > tbody > tr > td,
.tablemc-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
}
.tablemc-bordered > thead > tr > th,
.tablemc-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.tablemc-striped > tbody > tr:nth-child(odd) > td,
.tablemc-striped > tbody > tr:nth-child(odd) > th{
  background-color: #f5f5f5;
}
.tablemc-hover > tbody > tr:hover > td,
.tablemc-hover > tbody > tr:hover > th {
  background-color: rgba(0,0,0,0.12);
}
@media screen and (max-width: 768px){
  .tablemc-responsive-vertical > .tablemc{
      margin-bottom: 0;
      background-color: transparent;
  }
  .tablemc-responsive-vertical > .tablemc > thead,
  .tablemc-responsive-vertical > .tablemc > tfoot {
      display: none;
  }
  .tablemc-responsive-vertical > .tablemc > tbody{
      display: block;
  }
  .tablemc-responsive-vertical > .tablemc > tbody > tr{
      display: block;
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      margin-bottom: 1.6rem;
  }
  .tablemc-responsive-vertical > .tablemc > tbody > tr > td {
      background-color: #fff;
      display: block;
      vertical-align: middle;
      text-align: right;
  }
  .tablemc-responsive-vertical > .tablemc > tbody > tr > td[data-title]:before{
      content: attr(data-title);
      float: left;
      font-size: inherit;
      font-weight: 400;
      color: #757575;
  }
  .tablemc-responsive-vertical > .tablemc-bordered {
      border: 0;
  }
  .tablemc-responsive-vertical > .tablemc-bordered > tbody > tr > td{
      border: 0;
      border-bottom: 1px solid #e0e0e0;
      
  }
  .tablemc-responsive-vertical > .tablemc-bordered > tbody > tr > td:last-child{
      border-bottom: 0;
  }
  .tablemc-responsive-vertical > .tablemc-bordered > tbody > tr > td,
  .tablemc-responsive-vertical > .tablemc-bordered > tbody > tr:nth-child(odd){
      background-color: #fff;
  }
  .tablemc-responsive-vertical > .tablemc-bordered > tbody > tr > td:nth-child(odd){
      background-color: #f5f5f5;
  }
  .tablemc-responsive-vertical > .tablemc-hover > tbody > tr:hover > td,
  .tablemc-responsive-vertical > .tablemc-hover > tbody > tr:hover {
      background-color: #fff;
  }
  .tablemc-responsive-vertical > .tablemc-hover > tbody > tr > td:hover{
      background-color: rgba(0,0,0,0.12);
  }
}
.tablemc-striped.tablemc-mc-red > tbody > tr:nth-child(odd) > td,
.tablemc-striped.tablemc-mc-red > tbody > tr:nth-child(odd) > th {
  background-color: #eee;
  // color: #fff;
  font-size: 1rem;
  font-weight: bold;
}
.tablemc-hover.tablemc-mc-red > tbody > tr:hover > td,
.tablemc-hover.tablemc-mc-red > tbody > tr:hover > th {
  background-color: #eee;
  // color: #fff;
}
