* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import 'table';
$text-color: #08fbff ;



body {
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.fade-in {
  background-color: #050505;
}
.inputError {
  border: 1px solid red !important;
  
}


.avatarNav {
  float: left;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
.form-group-custom {
  margin-bottom: 12px;
  .errors {
    font-size: .8rem;
    color: red;
    // display: block;
    width: 100%;
  }
  .input-reg {
    width: 100%;
  }
  .input-group-text {
    border-radius: 0;
    width: 150px;
  }
}

.custom-nav {
  // background-color: ;
  transition: all 300ms;
  .nav-link {
    color: #ffffff;
    font-weight: bold;
    transition: all 300ms;
    height: 100%;
    &:hover  {
      color: #ffffff;
      background-color: #e92c2c;
    }
  }
  .active {
    color: #ffffff;
    background-color: #e92c2c;
  }
}



.landing {
  min-height: 100vh;
  background-color: #dbdbdb;
  position: relative;
  padding: 0;
  background: url(../images/landing3.jpg);
  // filter: blur(10px);
  &-divide2 {
    
    position: absolute;
    background-color: $text-color;
    width: 100%;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 9% 100%, 0 100%);
  }
  &-divide {
    z-index: 2;
    position: absolute;
    background-color: #050505;
    width: 100%;
    height: 100vh;
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }
  
  
  &-content {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    &-title {
      color: red;
      margin-bottom: 4rem;
      text-align: center;
      font-size: 2rem;
    }
    
    .custom-btn {
      z-index: 2;
      border: 2px solid #eb9627;
      color: #eb9627;
      font-weight: bold;
      &:hover {
        color: #fff;
        background-color: #eb9627;
        border: 2px solid #eb9627;
      }
    }
  }
}
.registerLink {
  border: 2px solid red;
  color: red !important;
  &:hover {
    color: #fff !important;
  }
}
.ui-timepicker-container{ 
  z-index:1151 !important; 
}
.sec-class {
  min-height: 100vh;
  background: linear-gradient( rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url(../images/class2.png);
  background-position: bottom;
  background-size: cover;
  overflow: hidden;

  &-title {
    margin-top: 4rem;
  }

  &-show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .class-card {
      width: 350px;
      min-height: 370px;
      position: relative;
      margin: 1rem .5rem;
      .front,.back {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        transition: transform 500ms linear;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
      .front {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 20px;
        background: linear-gradient(to right bottom,#397acf, #2523a5);
        transform: perspective(600px) rotateX(180deg);
        display: flex;
        flex-direction: column;
        &-title {
          text-transform: uppercase;
          flex: 1;
          color: #fff;
          word-wrap: break-word;
          font-size: 1.7rem;
        }
        &-description {
          flex: 1;
          color: #fff;
          word-wrap: break-word;
        }
        &-slots {
          border: 2px solid #fff;
          color: #fff;
          text-align: center;
          
        }
        &-bottom {
          flex: 0.2;
          text-align: center;
        }
        &-datetime {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          &-date {
            flex: 1;
            color: #fff;
          }
          &-time {
            flex: 1;
            color: #fff;
          }
        }
      }
      .back {
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: perspective(600px) rotateX(0deg);
        &-title {
          color: #fff;
          letter-spacing: 8px;
          font-weight: bold;
          display: block;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          word-wrap: break-word;
        }
      }
      &:hover .front {
        transform: perspective(600px) rotateX(0deg);
      }
      &:hover .back {
        transform: perspective(600px) rotateX(-180deg);
      }
    }
  }
}

.btn-classes-inter {
  border-radius: 0;
  text-transform: uppercase;
  color: $text-color;
  // background-color: #fff;
  border: 1px solid $text-color;
  &:hover {
    background-color: $text-color;
    color: #fff;
  }
}
.fa-times {
  color: #fff;
}
#registerModal,
#loginModal,
#editClassModal,
#addClassesModal,
#enrollClassModal,
#profileModal,
#usersModal,
#globalQuestion{
  .modal-content {
    border-radius: 0;
    border: none;
    .modal-header {
      border-radius: 0;
      background-color:#397acf;
      color: #fff;
    }
    .bodyMessageOnly {
      display: flex;
      justify-content: center;
      h3 {
        text-align: center;
        font-size: 1.5rem;  
      }
    }
    .modal-footer {
      display : flex;
      justify-content: center;
      align-items: center;
      .btn-cancel {
        background-color: transparent;
        color: #397acf;
        border: 1px solid #397acf;
        text-transform: uppercase;
        border-radius: 0;
        transition: all 300ms;
        &:hover {
          background-color: #7d807d;
          border: 1px solid #7d807d;
          color: #fff;
        }
      }
      .btn-submit {
        background-color: #397acf;
        color: #fff;
        text-transform: uppercase;
        border-radius: 0;
        transition: all 300ms;
        &:hover {
          background-color: #379544;
        }
      }
    }
  }
}
#usersModal {
  .modal-dialog {
     position: relative;
    display: table !important; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 70%;  
  }
  .modal-content {
    // width: 200%;
  }
}

@media only screen and (max-width: 1024px) {
  #usersModal {
  .modal-dialog {
    
    min-width: 95%;  
    }
  
  }
}
#deleteClassModal,
#deleteTestiQ,
#deleteUserModal  {
  .modal-content {
    border-radius: 0;
    border: none;
    .modal-header {
      border-radius: 0;
      background-color:#c84f31;
      color: #fff;
    }
    .modal-body {
      display: flex;
      justify-content: center;
      h3 {
        text-align: center;
        font-size: 1.5rem;  
      }
    }
    .modal-footer {
      display : flex;
      justify-content: center;
      align-items: center;
      .btn-cancel {
        background-color: transparent;
        color: #c84f31;
        border: 1px solid #c84f31;
        text-transform: uppercase;
        border-radius: 0;
        transition: all 300ms;
        &:hover {
          background-color: #7d807d;
          border: 1px solid #7d807d;
          color: #fff;
        }
      }
      .btn-submit {
        background-color: #c84f31;
        color: #fff;
        text-transform: uppercase;
        border-radius: 0;
        transition: all 300ms;
        &:hover {
          background-color: #ff0000;
        }
      }
    }
  }
}

#messageModal {
  .modal-content {
    overflow: hidden;
    border-radius: 0;
    .modal-header {
      border-radius: 0;
      background-color:#379544;
      color: #fff;
    }
    .modal-body {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      text-transform: uppercase;
    }
    .modal-footer {
      border-radius: 0;
      border: none;
      .btn-submit {
        border: 1px solid #379544;
        border-radius: 0;
        color: #379544;
        &:hover {
          background-color: #379544;
          color: #fff;
        }
      }
    }
  }
}
#messageErrorModal {
  .modal-content {
    overflow: hidden;
    border-radius: 0;
    .modal-header {
      border-radius: 0;
      background-color:#c84f31;
      color: #fff;
    }
    .modal-body {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      text-transform: uppercase;
    }
    .modal-footer {
      border-radius: 0;
      border: none;
      .btn-submit {
        border: 1px solid #c84f31;
        border-radius: 0;
        color: #c84f31;
        &:hover {
          background-color: #c84f31;
          color: #fff;
        }
      }
    }
  }
}
.owl-stage-outer {
  overflow: visible;
}
.owl-dots {
  display: none;
}
.owl-nav {
  span {
    color: $text-color;
    font-size: 2rem;
    padding: 1.5rem;
    cursor: pointer;
  }
}
.testimonials {
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../images/testi2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  &-title {
    margin-top: 4rem;
  }
  .wrapper {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
    // margin-top: 4rem;
    .item {
      background: #eee;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      margin-top: 5rem;
      margin-bottom: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      // margin: 4rem;
      height: 380px;
      position: relative;
      .deleteTesti {
        background-color: red;
        border-radius: 100%;
        margin-left: 90%;
        margin-top: -1rem;
        // width: 15px;
        // height: 20px;
        padding: 2px 8px;
        font-size: 15px;
        i {
          pointer-events: none;
        }
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: absolute;
        left: 50%;
        top: -3rem;
        background-color: #eee;
        padding: .4rem;
        transform: translateX(-50%);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
      .qouteCenter {
        margin-top: 3rem;
        .openQ::after {
          content: '\201C   \201D';
          font-size: 3rem;
          color: #397acf;
        }
      }
      blockquote {
        color: #050505;
        font-size: 1.4rem;
        position: relative;
        display: flex;
        flex-direction: column;
        //  justify-content: center;
        //  height: 100%;
         align-items: center;
        padding: .5rem;
        
        p {
        //  position: absolute;
        //  top: 5rem;
          width: 100%;
          word-wrap: break-word;
          position: relative;
          line-height: 2rem;
          text-align: center;
        }
        .nameTesti {
          font-style: italic;
        }
      }
     
    }
    .testimonials-input {
      position: relative;
      left: 50%;
      margin-top: 2rem;
      width: 50%;
      height: 5rem;
      border: 1px solid #397acf;
      transform: translateX(-50%);
      background-color: transparent;
    }
  }
}
.testimonialSubBtn {
  border: 1px solid #397acf;
  color: #397acf;
  border-radius: 0;
  &:hover {
    background-color: #397acf;
    color: #fff;
  }
}

#testiErr {
  color: red;
}

.page-footer  {
  background-color: #050505;
  .footer-copyright {
    color:  #fff;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.profileImg {
  display: flex;
  justify-content: center;
  align-items: center;
  .profileHolder {
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: #eee;
      padding: .5rem;
      position: absolute;
      top: 0;
    }
    .profileHoverUpload {
      height: 100%;
      width: 100%;
      // background-color: rgba(5, 5, 5, 0.555);
      position: absolute;
      top: 0;
      border-radius: 100%;
      transition: all .3s;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        // font-family: 'Roboto', sans-serif;
        color: #fff;
        opacity: 0;
        transition: all .3s;
      }
      cursor: pointer;
      &:hover {
        background-color: rgba(5, 5, 5, 0.555);
      }
      &:hover i {
        opacity: 1;
      }
    }
    
  }
 
}
.makeAdmin,
.removeAdmin,
.removeUser {
  border-radius: 0;
}
.makeAdmin{
  border: 1px solid #df8b1e;
  transition: all .3s;
  i {
    color: #df8b1e;
    transition: all .3s;
  }
  &:hover {
    background-color: #df8b1e;
    i {
      color: #fff;
    }
  }
}
.removeAdmin{
  border: 1px solid #0b0b0c;
  transition: all .3s;
  i {
    color: #0b0b0c;
    transition: all .3s;
    pointer-events: none;
  }
  &:hover {
    background-color: #0b0b0c;
    i {
      color: #fff;
    }
  }
}
.removeUser {
  border: 1px solid #ff4800;
  transition: all .3s;
  width: 60px;
  
  i {
    color: #ff4800;
    transition: all .3s;
    pointer-events: none;
  }
  &:hover {
    background-color: red;
    border: 1px solid red;
    i {
      color : #fff;
    }
  }
}
#messageModal {
  z-index: 9999;
}
.disableDeleteBtn {
  opacity: 0;
  pointer-events: none;
  cursor: none;
}